<!---header-->			
<div class="header">  
  <div class="container">
     <div class="logo">
       <a [routerLink]="['/home']"><img src="../assets/images/logo.jpg" title="" /></a>
     </div>
      <!---start-top-nav-->
      <div class="top-menu">
       
         <span class="menu"> </span> 
          <ul>
           <li class="active"><a [routerLink]="['/home']">HOME</a></li>		
           <li><a [routerLink]="['/create']">CREATE</a></li>				
           <li><a [routerLink]="['/about']">ABOUT</a></li>	
           <li><a [routerLink]="['/contact']">CONTACT</a></li>						
           <div class="clearfix"> </div>
        </ul>
      </div>
      <div class="clearfix"></div>
        
       <!---//End-top-nav-->					
  </div>
</div>
<!--/header-->
<ng4-loading-spinner></ng4-loading-spinner>
<router-outlet></router-outlet>

<div class="footer">
	<div class="container">
		<p>Created By Anchal Nigam</p>
	</div>
</div>
