
<div class="content" >
    <div class="container">
      <div class="content-grids">
        <div class=" col-md-8 content-main">
          <div class="content-grid">		
            <div *ngIf="author.length>0">		 
              <div *ngFor="let author of author" class="content-grid-info" >
                <div *ngIf="author.category.toLowerCase()=='fashion';else techImage">		
                  <a [routerLink]="['/blog',author.blogId]"><img src="assets/images/fashion.jpg" alt=""/></a>
                </div>
                <ng-template #techImage>
                    <div *ngIf="author.category.toLowerCase()=='technical';else foodImage">		
                      <a [routerLink]="['/blog',author.blogId]"><img src="assets/images/tech.jpg" alt=""/></a>
                      </div>
                   
                </ng-template>	
                <ng-template #foodImage>
                    <div *ngIf="author.category.toLowerCase()=='food';else defaultImage">		
                      <a [routerLink]="['/blog',author.blogId]"><img src="assets/images/food.png" alt=""/></a>
                      </div>
                    
                </ng-template>	
                <ng-template #defaultImage>
                  <a [routerLink]="['/blog',author.blogId]"><img src="assets/images/blog.jpg" alt=""/></a>
                </ng-template>	
                        
                <div class="post-info">
                <h4><a [routerLink]="['/blog',author.blogId]">{{author.title}}</a>  by {{author.author}} / {{author.lastModified | date }} / {{author.views}} views</h4>
                <p>{{author.description}}</p>
                <a [routerLink]="['/blog',author.blogId]"><span></span>READ MORE</a>
                </div>
              </div>
            </div>
            
            
            
          </div>
         </div>
      
         <div class="clearfix"></div>
       </div>
     </div>
  </div>